[player]
font_width      = 11
font_height     = 24
volume_step     = 5
auto_close      = false
album_art_only  = false
show_playlist   = true

[art]
image_method    = pixcat
music_directory = ~/Music
# http_base_url = http://localhost:6667/cover-art
# http_cover_filenames = cover.jpg cover.png folder.jpg folder.png art.jpg art.png artwork.jpg artwork.png

[mpd]
host   = localhost
port   = 6600
# pass = example

# [keybindings]
# >     = next_track
# <     = last_track
# +     = volume_up
# -     = volume_down
# p     = play_pause
# q     = quit
# h     = help
# i     = toggle_info
# up    = select_up
# down  = select_down
# enter = select

# [theme]
# # If a color is set to "auto", it will automatically pick the color based on the album art
# accent_color = auto
# bar_color = auto
# time_color = white
#
# # The progress bar. Only one character allowed for body and head
# bar_body = -
# bar_head = >
