[player]
music_directory = ~/Music
font_width = 11
font_height = 24
image_method = pixcat
volume_step = 5

[mpd]
host = localhost
port = 6600
# pass = example

# [keybindings]
# > = next_track
# < = last_track
# + = volume_up
# - = volume_down
# p = play_pause
# q = quit
# h = help
